[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
spacy = {extras = ["cuda113", "transformers"], version = "*"}
pyserde = "*"
jupyter = "*"
transformers = "*"
tensorflow-gpu = "*"
sentence-transformers = "*"
pytigergraph = "*"
python-dotenv = "*"
bertopic = "*"
streamlit = "*"

[requires]
python_version = "3.8"
