[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
beautifulsoup4 = "*"
spacy = {extras = ["cuda113", "transformers"], version = "*"}
transformers = "*"
tensorflow-gpu = "*"
sentence-transformers = "*"
bertopic = "*"
dateparser = "*"
requests = "*"

[packages]
pytigergraph = "*"
python-dotenv = "*"
streamlit = "*"
pyserde = "*"
plotly = "*"

[requires]
python_version = "3.8"
